/* TODO: Clean up css files */

:root {
  --primary-color: #FD7E89;
  --secondary-color: #000;
  --bg-color: #FFF798;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--secondary-color);
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

select {
  background-color: #fff;
  color: var(--secondary-color);
  border: 3px solid var(--secondary-color);
  border-radius: .25em;
}

nav {
  color: var(--secondary-color);
  margin: 10px 10px;
}

nav h2 {
  margin: 0;
}

p {
  color: var(--secondary-color);
}