.progress-bar {
  position: relative;
  height: 24px;
  border: 3px solid var(--secondary-color);
  border-radius: 0.5em;
  overflow: hidden;
  padding: 5px;
}

.progress-bar .area {
  position: absolute;
  width: 100%;
  text-align: center;
  margin: 0;
}

.progress-bar-inner {
  position: absolute;
  background-color: var(--primary-color);
  height: 100%;
  left: 0;
  top: 0;
}
