.viewer-card {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 0.25em;
  border: 3px solid var(--secondary-color);
  aspect-ratio: 1 / 1;
  background-color: #fff;
}

.viewer-card img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.loader-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0);
  transition: opacity 0.2s;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
  pointer-events: none;
  opacity: 0;
}

.loader-container[data-isloading=true] {
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.7);
  transition: background-color 0.2s;
}

.viewer-boxes {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 0.2s;
}

.viewer-boxes[data-isloading=true] {
  opacity: 0;
  transition: opacity 0.2s;
}

.viewer-boxes rect {
  opacity: 50%;
  transition: opacity 0.2s;
}

.viewer-boxes .box:hover > * {
  opacity: 100%;
  transition: opacity 0.2s;
}


.viewer-boxes text {
  opacity: 0;
}