.viewer-card {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 0.25em;
  border: 3px solid #000;
  aspect-ratio: 1 / 1;
  background-color: #fff;
  cursor: pointer;
}

.viewer-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.viewer-placeholder {
  font-size: 24px;
  max-width: 400px;
  text-align: center;
  font-family: "Space Mono", monospace;
}

.viewer-placeholder p {
  color: #666666;
}

.viewer-boxes {
  position: absolute;
  width: 100%;
  height: 100%;
}

.viewer-boxes rect {
  opacity: 50%;
}