.viewer-card {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 0.25em;
  border: 3px solid #000;
  aspect-ratio: 1 / 1;
  background-color: #fff;
  cursor: pointer;
}

.viewer-card img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.loader-container {
  position: absolute;
  display: flex;
  background-color: rgba(255, 255, 255, 0);
  transition: opacity 0.2s;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
  pointer-events: none;
}

.loader-container[data-isloading=true] {
  background-color: rgba(255, 255, 255, 0.7);
  transition: background-color 0.2s;
}

.viewer-placeholder {
  font-size: 24px;
  max-width: 400px;
  text-align: center;
  font-family: "Space Mono", monospace;
}

.viewer-placeholder p {
  color: #666666;
}

.viewer-boxes {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 0.2s;
}

.viewer-boxes[data-isloading=true] {
  opacity: 0;
  transition: opacity 0.2s;
}

.viewer-boxes rect {
  opacity: 50%;
  transition: opacity 0.2s;
}

.viewer-boxes .box:hover > * {
  opacity: 100%;
  transition: opacity 0.2s;
}


.viewer-boxes text {
  opacity: 0;
  font-family: "Space Mono", monospace;
}